@tailwind base;
@tailwind components;
@tailwind utilities;
.lis{
    list-style-image: url(./images/icon-list.svg);
}
*{
    box-sizing: border-box;
}


:root {
    --Tomato: hsl(4, 100%, 67%);
   --Dark-Slate-Grey: hsl(234, 29%, 20%);
   --Charcoal-Grey: hsl(235, 18%, 26%);
   --Grey: hsl(231, 7%, 60%);
}
body{
    background: hsl(235, 18%, 26%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
    .mbc:hover{
    background:radial-gradient() (hsl(4, 78%, 46%),hsl(4, 100%, 67%));
    box-shadow: 0.5em 0.5em 4em #ce4c62;
    cursor: pointer;
}
.desk{
    display: none;
}

.cont{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "one"
    'tow';
    top: 0;
    right: 0;
    bottom: 0;
    gap: 2em;
}
.grid-child1{
    grid-area: one;
}
.grid-child2{
    grid-area: tow;
}
ul{
    list-style: url(./images/icon-list.svg);
}
@media only screen and (min-width:500px){
    .cont{
        position:unset;
        display: grid;
        grid-template-areas: 
        'tow one';
    gap: 2em;
    padding: 2em;
    border-radius: 2em;
    max-height: 70vh;
    }
    .mobile{
        display: none;
    }
    .desk{
        display: block;
        max-height:450px;
    }
}
